body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
  row-gap: 2rem;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 0 1rem;
}

.info p {
  max-width: 700px;
  background-color: #2a3749;
  padding: 1rem;
  border-radius: 10px;
}

h2 {
  text-align: center;
  margin: 1.5rem;
}

h2 + p {
  font-size: 0.9rem;
  text-align: center;
  margin: 1.5rem;
}
