@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap'); /* By Paul D. Hunt */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Source Sans Pro";
}

.container {
	max-width: 1100px;
	margin: 0 auto;
}

nav {
	display: inline-block;
}

nav ul li {
	display: inline-block;
	padding-right: 20px;
}

nav ul li a {
	text-decoration: none;
}

nav ul {
	list-style-type: none;
	padding: 10px 0;
	float: right;
	margin-left: 30px;
}

footer {
	padding: 15px;
	background-color: rgb(29, 29, 31);
	color: #fff;
	display: flex;
	justify-content: space-between;
}

footer a {
	color: #fff;
	text-decoration: none;
}

header > .container {
	z-index: 100;
	position: sticky;
	top: 0;
	width: 100%;
	background-color: rgb(255, 2555, 255);
	max-width: 100%;
	padding-left: 20px;
	padding-top: 5px;
}

.logo {
	width: 50px;
	height: 50px;
	display: inline-block;
}